html,body{
	height:100%;
	margin: 0px;
	padding: 0px;
	background:#f7f7f7;
	overflow:hidden;
}
.container {
	height: 100%;	
	text-align: center;	
	padding: 20px;
}

.title-1 {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 25px;
	font-weight: bold;
}
.title-12 {
	float: right;
	padding-right: 25%;
	font-size: 16px;
}


.modules {
	height: 100%;
}

.module {
	display: inline-block;
	float: left;
	width: 100%;
	height: 20%;
}
.title-2 {
	width: 20%;	
	display: inline-block;
	float: left;
	font-size: 18px;
	font-weight: bolder;
	height: 100%;
}
.answers {
	display: inline-block;
	float: left;
	width: 80%;	
	height: 100%;
}
.answers div {
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	font-size: 130%;
	font-weight:bold;
}

.answers div:hover
 {
	background:#e7e7e7;
	cursor: pointer;
}

.title-1:hover {	
	background:#eee;
}
.module:hover
 {
	background:#eee;
}

div.answers-ass {
	display: block;
	width: 100%;
	height: 40%;	
}
#h-1:hover {color: #800000;}
#h-2:hover {color: #900000;}
#h-3:hover {color: #a00000;}
#h-4:hover {color: #b00000;}
#h-5:hover {color: #e00000;}
#s-1:hover {color: #008000;}
#s-2:hover {color: #009000;}
#s-3:hover {color: #00a000;}
#s-4:hover {color: #00b000;}
#s-5:hover {color: #00e000;}
#d-1:hover {color: #000080;}
#d-2:hover {color: #000090;}
#d-3:hover {color: #0000a0;}
#d-4:hover {color: #0000b0;}
#d-5:hover {color: #0000e0;}
