html,body{
	height:100%;
	margin: 0px;
	padding: 0px;
}

.input {
	text-align: center;
	padding-top: 50px;
	width: 90%;
}
.input div{
	float: left;
	width: auto;
	margin-left: 50px;
}
.input div label {
	width: auto;
}

.input select {
	width: 50px;
}
.input input {
	width: 50px;
}

#result {
	padding-top: 50px;
	margin-left: 50px;
	height: auto;
	min-height: 150px;
	margin-bottom: 50px;
	width : 90%;
	display:block;
}