

.input {
	text-align: center;
	padding-top: 50px;
}
.input div{
	float: left;
	width: auto;
	margin-left: 50px;
}
.input div label {
	width: auto;
}

.input select {
	width: 50px;
}
.input input {
	width: 50px;
}

#result {
	padding-top: 50px;
	margin-left: 50px;
	height: auto;
	min-height: 400px;
	margin-bottom: 50px;
}